#body {
	width: 1647px;
	margin: 0;
	font-family: 'Roboto', 'sans-serif';
}
#header {
	width: 1647px;
	margin: 0;
	display: block;
	text-transform: uppercase;
	font-family: 'Roboto', 'sans-serif';
}
.h__logo{
	font-size: 35px;
	color: #555252;
	font-weight: 300;
	letter-spacing : -2px;
	display: inline-block;
	margin-right: 580px;
	text-decoration: none;
	padding: 0;
}
.h__logo::first-letter{
	color: #1abc9c;
	font-weight: 900;
}
.h-section{
	padding-top: 32px;
	margin-bottom: 0 0 105px 0;
	
}
.h-nav_menu{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	display: inline;
	padding: 0;
	list-style-type: none;
}
ul.h-nav_menu li{
	display: inline-block;
}
.h-nav_item{
	margin: 0 34px 0 0;
}
.item{
	color: #0f0101;
	text-decoration: none;
	font-weight: 700;
	letter-spacing : -1px;
}
.h-nav_item a:hover{
	color: #1abc9c;
	
}