/* .navigation li
{
  display: inline;
  text-align: center;
} */
body {
  margin: 0;
  font-size: 14pt;
  font-weight: normal;
  line-height: 24px;
  color: #626262;
  font-family: 'Playfair Display', sans-serif;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
header {
  width: 901px;
  margin: 0px auto;
  padding-top: 65px;
  margin-bottom: 92px;
}
.navigator {
  width: 573px;
  margin: 0px auto;
}
.navigation-menu {
  display: block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.navigation-item:not(:nth-last-child(1)) {
  margin-right: 105px;
}
.navigation-item {
  display: inline-block;
}

.navigation-link {
  text-decoration: none;
  color: #626262;
  text-transform: uppercase;
}
img {
  width: 420px;
  background-color: #f2f2f2;
  margin-bottom: 29px;
}
.main_container {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin: auto;
  margin-bottom: 40px;
  width: 901px;
}
.main_box {
  width: 421px;
  margin: 0px;
  display: inline-block;
}
.main_box:nth-child(2n + 1) {
  margin-right: 58px;
  
}
.main_box:not(:nth-last-child(-n+2)) {
  margin-bottom: 123px;
}
.photo_colontitle {
  font-size: 14px;
  display: inline-block;
  font-family: "ubuntu", sans-serif;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  line-height: normal;
  font-weight: lighter;
  color: #b4ad9e;
}
.main_subject {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: normal;
  font-weight: 500;
}
.main_text {
  margin: 0;
  font-size: 14px;
  line-height: 32px;
}
.button_main{
  cursor: pointer;
  display: block;
  width: 164px;
  height: 60px;
  font-size: 20px;
  color: #626262;
  background-color: transparent;
  font-family: 'Playfair Display', sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0px;
}
